@model AssetTracking.Models.Models.DetailCategory

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>DetailCategory</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.SubCategoryID, "SubCategoryID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("SubCategoryID", String.Empty)
                @Html.ValidationMessageFor(model => model.SubCategoryID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DetailCategoryName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DetailCategoryName)
                @Html.ValidationMessageFor(model => model.DetailCategoryName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DetailCategoryCode, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DetailCategoryCode)
                @Html.ValidationMessageFor(model => model.DetailCategoryCode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DetailCategoryDescription, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DetailCategoryDescription)
                @Html.ValidationMessageFor(model => model.DetailCategoryDescription)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
