@model IEnumerable<AssetTracking.Models.Models.Category>

@{
    ViewBag.Title = "Category";
}

<div class="row">
    <div class="col-md-12">
        <!-- BEGIN TABLE PORTLET-->
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-comments"></i>Category Index
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"> </a>
                    <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                    <a href="javascript:;" class="reload"> </a>
                    <a href="javascript:;" class="remove"> </a>
                </div>
            </div>
            <div class="portlet-body">
                <p>
                    @Html.ActionLink("Create New", "Create", "Category", null, new { @class = "btn btn-sm green-jungle" })
                </p>
                <div class="table-scrollable">
                    <table id="dataTablefunction" class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.GeneralCategory.GeneralCategoryName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CategoryName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CategoryCode)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CategoryDescription)
                                </th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.GeneralCategory.GeneralCategoryName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CategoryName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CategoryCode)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CategoryDescription)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", "Category", new { id = item.CategoryID }, new { @class = "label label-sm label-info" }) |
                                        @Html.ActionLink("Details", "Details", "Category", new { id = item.CategoryID }, new { @class = "label label-sm label-warning" }) |
                                        @Html.ActionLink("Delete", "Delete", "Category", new { id = item.CategoryID }, new { @class = "label label-sm label-danger" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- END TABLE PORTLET-->
    </div>
</div>
@section scripts{
    <script src="~/Scripts/DT.js"></script>
}
