@model IEnumerable<AssetTracking.Models.Models.Organization>

@{
    ViewBag.Title = "ListOfOrganization";
}

<h2>ListOfOrganization</h2>

<p>
    @Html.ActionLink("Create New", "CreateOrganization")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrganizationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrganizationShortName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrganizationLocation)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrganizationName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrganizationShortName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrganizationLocation)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditOrganization", new { id = item.OrganizationID }) |
            @Html.ActionLink("Details", "DetailsOrganization", new { id = item.OrganizationID }) |
            @Html.ActionLink("Delete", "DeleteOrganization", new { id = item.OrganizationID })
        </td>
    </tr>
}

</table>
