@model AssetTracking.Models.Models.OrganizationBranch

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>OrganizationBranch</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.OrganizationID, "OrganizationID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.OrganizationID, ViewBag.OrganizationID as SelectList, "Select Organization")
                @Html.ValidationMessageFor(model => model.OrganizationID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OrganizationBranchName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OrganizationBranchName)
                @Html.ValidationMessageFor(model => model.OrganizationBranchName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OrganizatioBranchShortName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OrganizatioBranchShortName)
                @Html.ValidationMessageFor(model => model.OrganizatioBranchShortName)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
