@model AssetTracking.Models.Models.AssetPurchaseDetail

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>AssetPurchaseDetail</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AssetPurchaseHeader.AssetPurchaseHeaderID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssetPurchaseHeader.AssetPurchaseHeaderID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubCategory.SubCategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubCategory.SubCategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsWarranty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsWarranty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WarrantyPeriod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WarrantyPeriod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WarrantyPeriodUnitID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WarrantyPeriodUnitID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AssetPurchaseDetailID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
