@model IEnumerable<AssetTracking.Models.Models.WarrantyPeriodUnit>

@{
    ViewBag.Title = "Warranty Period Unit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PORTLET-->
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-comments"></i>Warranty Period Unit Index
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"> </a>
                    <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                    <a href="javascript:;" class="reload"> </a>
                    <a href="javascript:;" class="remove"> </a>
                </div>
            </div>
            <div class="portlet-body">
                <p>
                    @Html.ActionLink("Create New", "Create", "WarrantyPeriodUnit", null, new {@class = "btn btn-sm green-jungle"})
                </p>
                <div class="table-scrollable">
                    <table id="dataTablefunction" class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.WarrantyPeriodUnitName)
                            </th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.WarrantyPeriodUnitName)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", "WarrantyPeriodUnit", new {id = item.WarrantyPeriodUnitID}, new {@class = "label label-sm label-info"}) |
                                    @Html.ActionLink("Details", "Details", "WarrantyPeriodUnit", new {id = item.WarrantyPeriodUnitID}, new {@class = "label label-sm label-warning"}) |
                                    @Html.ActionLink("Delete", "Delete", "WarrantyPeriodUnit", new {id = item.WarrantyPeriodUnitID}, new {@class = "label label-sm label-danger"})
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- END PORTLET-->
    </div>
</div>
@section scripts{
    <script src="~/Scripts/DT.js"></script>
}