@model AssetTracking.Models.Models.AssetPurchaseHeader

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>AssetPurchaseHeader</h4>
        <hr />
        @Html.ValidationSummary(true)

        @*<div class="form-group">
            @Html.LabelFor(model => model.VendorID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.VendorID)
                @Html.ValidationMessageFor(model => model.VendorID)
            </div>
        </div>*@
        <div class="form-group">
            @Html.LabelFor(model => model.VendorID, "VendorID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("VendorID", String.Empty)
                @Html.ValidationMessageFor(model => model.VendorID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PurchasedOn, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.PurchasedOn,new { @type = "date" })
                @Html.ValidationMessageFor(model => model.PurchasedOn)
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.OrganizationBranchID, "OrganizationBranchID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("OrganizationBranchID", String.Empty)
                @Html.ValidationMessageFor(model => model.OrganizationBranchID)
            </div>
        </div>

        

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
