@model AssetTracking.Models.Models.AssetPurchaseHeader

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>AssetPurchaseHeader</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.AssetPurchaseHeaderID)

        <div class="form-group">
            @Html.LabelFor(model => model.VendorID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.VendorID)
                @Html.ValidationMessageFor(model => model.VendorID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PurchasedOn, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PurchasedOn)
                @Html.ValidationMessageFor(model => model.PurchasedOn)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PurchasedBy, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PurchasedBy)
                @Html.ValidationMessageFor(model => model.PurchasedBy)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OrganizationBranchID, "OrganizationBranchID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("OrganizationBranchID", String.Empty)
                @Html.ValidationMessageFor(model => model.OrganizationBranchID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreatedBy, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreatedBy)
                @Html.ValidationMessageFor(model => model.CreatedBy)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreatedOn, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreatedOn)
                @Html.ValidationMessageFor(model => model.CreatedOn)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastModifiedBy, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastModifiedBy)
                @Html.ValidationMessageFor(model => model.LastModifiedBy)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastModifiedOn, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastModifiedOn)
                @Html.ValidationMessageFor(model => model.LastModifiedOn)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
