@model IEnumerable<AssetTracking.Models.Models.AssetPurchaseHeader>

@{
    ViewBag.Title = "Asset Purchase Header";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <!-- BEGIN TABLE PORTLET-->
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-comments"></i>Asset Purchase Header Index
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"> </a>
                    <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                    <a href="javascript:;" class="reload"> </a>
                    <a href="javascript:;" class="remove"> </a>
                </div>
            </div>
            <div class="portlet-body">
                <p>
                    @Html.ActionLink("Create New", "Create", "AssetPurchaseHeader", null, new { @class = "btn btn-sm green-jungle" })
                </p>
                <div class="table-scrollable">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.OrganizationBranch.OrganizationBranchName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.VendorID)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PurchasedOn)
                                </th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.OrganizationBranch.OrganizationBranchName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.VendorID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PurchasedOn)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", "AssetPurchaseHeader", new { id = item.AssetPurchaseHeaderID }, new { @class = "label label-sm label-info" }) |
                                        @Html.ActionLink("Details", "Details", "AssetPurchaseHeader", new { id = item.AssetPurchaseHeaderID }, new { @class = "label label-sm label-warning" }) |
                                        @Html.ActionLink("Delete", "Delete", "AssetPurchaseHeader", new { id = item.AssetPurchaseHeaderID }, new { @class = "label label-sm label-danger" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- END TABLE PORTLET-->
    </div>
</div>
