@model AssetTracking.Models.Models.Organization

@{
    ViewBag.Title = "Organization Create";
}
<!-- BEGIN FORM DESIGN -->
<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i>Create Organization
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse"> </a>
            <a href="#portlet-config" data-toggle="modal" class="config"> </a>
            <a href="javascript:;" class="reload"> </a>
            <a href="javascript:;" class="remove"> </a>
        </div>
    </div>
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        @using (Html.BeginForm("Create", "Organization", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-body">
                <div class="form-group">
                    <label class="col-md-3 control-label">Organization Name</label>
                    <div class="col-md-4">
                        @Html.ValidationSummary(true)
                        <div class="input-group">
                            <span class="input-group-addon input-circle-left">
                                <i class="fa fa-building-o" aria-hidden="true"></i>
                            </span>
                            @Html.TextBoxFor(model => model.OrganizationName, new { @placeholder = "Enter Organization Name", @class = "form-control input-circle-right" })
                          </div>
                        @Html.ValidationMessageFor(model => model.OrganizationName)
                    </div>
                </div>
            </div>
            <div class="form-body">
                <div class="form-group">
                    <label class="col-md-3 control-label">Organization Short Name</label>
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon input-circle-left">
                                <i class="fa fa-building" aria-hidden="true"></i>
                            </span>
                            @Html.TextBoxFor(model => model.OrganizationShortName, new { @placeholder = "Enter Organization Short Name", @class = " form-control input-circle-right" })
                        </div>
                        @Html.ValidationMessageFor(model => model.OrganizationShortName)
                    </div>
                </div>
            </div>
            <div class="form-body">
                <div class="form-group">
                    <label class="col-md-3 control-label">Organization Location</label>
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon input-circle-left">
                                <i class="fa fa-font" aria-hidden="true"></i>
                            </span>
                            @Html.TextBoxFor(model => model.OrganizationLocation, new { @class = "form-control input-circle-right", @placeholder = "Enter Organization Location" })
                        </div>
                        @Html.ValidationMessageFor(model => model.OrganizationLocation)
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-offset-3 col-md-9">
                        <button type="submit" class="btn btn-circle green">Create</button>
                        @Html.ActionLink("Cancel", "Index", "Organization", new { @type = "button", @class = "btn btn-circle grey-salsa btn-outline" })
                    </div>
                </div>
            </div>
        }
        <!-- END FORM-->
    </div>
</div>
