@model IEnumerable<AssetTracking.Models.Models.Organization>

@{
    ViewBag.Title = "Organization";
}

<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PORTLET-->
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-comments"></i>Organization Index
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"> </a>
                    <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                    <a href="javascript:;" class="reload"> </a>
                    <a href="javascript:;" class="remove"> </a>
                </div>
            </div>
            <div class="portlet-body">
                <p>
                    @Html.ActionLink("Create New", "Create", "Organization",null, new { @class= "btn btn-sm green-jungle"} )
                </p>
                <div class="table-scrollable">
                    <table id="dataTablefunction" class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.OrganizationName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.OrganizationShortName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.OrganizationLocation)
                                </th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.OrganizationName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.OrganizationShortName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.OrganizationLocation)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", "Organization", new { id = item.OrganizationID }, new { @class = "label label-sm label-info" }) |
                                        @Html.ActionLink("Details", "Details", "Organization", new { id = item.OrganizationID }, new { @class = "label label-sm label-warning" }) |
                                        @Html.ActionLink("Delete", "Delete", "Organization", new { id = item.OrganizationID }, new { @class = "label label-sm label-danger" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- END PORTLET-->
    </div>
</div>
@section scripts{
<script src="~/Scripts/DT.js"></script>
}