@model IEnumerable<AssetTracking.Models.Models.GeneralCategory>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GeneralCategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GeneralCategoryCode)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GeneralCategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GeneralCategoryCode)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.GeneralCategoryID }) |
            @Html.ActionLink("Details", "Details", new { id=item.GeneralCategoryID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.GeneralCategoryID })
        </td>
    </tr>
}

</table>
